.rdt_TableHead .rdt_TableCol {
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    color: #1F2937;
    font-family: sans-serif;
    background-color: #F9FAFB;
}

.rdt_TableBody .rdt_TableCell {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    color: #1F2937;
    font-family: sans-serif;
}

.input-select-border input[type='text']:focus {
    box-shadow: none;
}