
.rdt_TableHead .rdt_TableCol {
    font-size: 14px;
    font-weight: 600;
    color: #1F2937; 
    font-family: sans-serif;
}

.rdt_TableBody .rdt_TableRow {
    font-size: 14px;
    font-weight: 500;
    color: #1F2937;
    font-family: sans-serif;
}

.rdt_Pagination {
    font-size: 14px;
    font-weight: 500;
    color: #1F2937;
    font-family: sans-serif;
}
.rdt_Pagination select {
    appearance: none; /* Uklanja strelicu u većini pretraživača */
    -webkit-appearance: none; /* Uklanja strelicu u WebKit pretraživačima (Chrome, Safari) */
    -moz-appearance: none; /* Uklanja strelicu u Firefox-u */
}
