.search-container {
    display: flex;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 0px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
  
  .search-input {
    flex: 1;
    padding: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 8px 0 0 8px;
  }

  .rdt_TableHead .rdt_TableCol {
    font-size: 14px;
    font-weight: 600;
    color: #1F2937; 
    font-family: sans-serif;
}

.rdt_TableBody .rdt_TableRow {
    font-size: 14px;
    font-weight: 500;
    color: #1F2937;
    font-family: sans-serif;
}

.rdt_Pagination {
    font-size: 14px;
    font-weight: 500;
    color: #1F2937;
    font-family: sans-serif;
}
.rdt_Pagination select {
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none; 
}
