@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-cancel {
  @apply text-sm font-semibold text-gray-900 border border-[rgb(59,130,246)] rounded-md px-3 py-2 shadow-sm hover:shadow-[0px_2px_5px_rgb(59,130,246,0.5)] transition-shadow duration-150;
}

  
.btn-save {
  @apply rounded-md bg-[rgb(59,130,246)] px-3 py-2 text-sm font-semibold text-white shadow-sm 
    hover:bg-[rgb(49,120,236)] hover:shadow-[0px_2px_5px_rgb(59,130,246,0.5)] 
    focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[rgb(59,130,246)] 
    transition-shadow duration-150;
}

  .btn-container {
    @apply flex justify-end gap-4;
  }
  
  .btn-no {
    @apply text-sm font-semibold text-black border border-red-500 rounded-md px-3 py-2 shadow-sm;
  }
  
  .btn-yes {
    @apply rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm 
      hover:bg-red-500 focus-visible:outline focus-visible:outline-2 
      focus-visible:outline-offset-2 focus-visible:outline-red-600;
  }
  
  .btn-new {
    @apply rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm 
        bg-[rgb(39,110,236)] hover:bg-gradient-to-r hover:from-[rgb(59,130,246)] hover:via-[rgb(39,110,236)] hover:to-[rgb(29,90,226)]
        focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[rgb(39,110,236)] 
        transition-all duration-300 ease-in-out;
  }

  .btn-common {
    @apply rounded-md bg-[#1e3a8a] px-3 py-2 text-sm font-semibold text-white shadow-sm
    hover:bg-[#1e3a8a]/90 focus-visible:outline focus-visible:outline-2
    focus-visible:outline-offset-2 focus-visible:outline-[#1e3a8a]
    lg:w-[10rem] md:w-[10rem] sm:w-full xs:w-full ss:w-full;
}
  

  
.input-select-border input[type='text']:focus {
    box-shadow: none;
}

.input-select-width {
  min-width: 200px !important;
}

.no-data-message {
  text-align: center;
  font-size: 15px;
  color: #1b1a19;
  padding: 20px;
  font-weight: bold;
}

svg path[d="M7 10l5 5 5-5z"] {
  display: none;
}

.h1 {
  font-size: 1.3rem;
  font-weight: bold;
  padding-top: 3rem;
  margin-bottom: 20px;
}

.table {
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 1rem;
  padding-bottom: 20px;
}

.base-modal{
  z-index: 50;
}

/* Medium screens (max-width: 1024px) */
@media (max-width: 1024px) {
  .h1 {
    font-size: 1.1rem;
  }
  .header{
      height: 60px;
  }
}

/* Small screens (max-width: 768px) */
@media (max-width: 768px) {
  .h1 {
    font-size: 1.1rem;
  }
  .header{
      height: 50px;
  }
}

/* Very small screens (max-width: 480px) */
@media (max-width: 480px) {
  .h1 {
    font-size: 1.0rem;
  }
  .header{
      height: 40px;
  }
}

